* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #1a1a1a;
    color: #fff;
}

/* ------------- NAVBAR -------------- */

.container-navbar {
    min-height: 100vh;
    background: url('../assets/img/1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid #161515;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    z-index: 100;
    animation-duration: 1s;
    animation-name: slidedown;
}

@keyframes slidedown {
    from {
        margin-top: -50%;
    }
    to {
        margin-top: 0%;
    }
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: -100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .2));
    transition: .5s;
}

.header:hover::before {
    left: 100%;
}

.img-logo {
    width: 75px;
    margin-left: 10px;
    margin-top: 5px;
}

.navbar a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    transition: .3s;
    padding-right: 35px;
}

.h1-navbar {
    color: white;
    text-align: left;
    font-size: 20px;
    padding-top: 150px;
    padding-left: 50px;
    animation-duration: 1.5s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: -50%;
    }
    to {
        margin-left: 0%;
    }
}


.navbar a:hover {
    color: #ff004f;
}

#menu-icon {
    font-size: 36px;
    color: #fff;
    display: none;
}

/* ------------- ABOUT -------------- */

#about {
    background-color: #1a1a1a;
    min-width: 100vh;
    padding: 90px 0;
    color: #ababab;
    border-bottom: 2px solid #161515;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 355px;
    border-radius: 15px;
    margin-left: 120px;
    animation-duration: 2s;
    animation-name: slideimg;
}

@keyframes slideimg {
    from {
        margin-left: -100%;
    }
    to {
        margin-left: 120px;
    }
}

.about-col-2 {
    flex-basis: 60%;
    margin-right: 40px;
    transition: 1s;
    animation-duration: 2s;
    animation-name: aboutcol2;
}

@keyframes aboutcol2 {
    from {
        margin-right: -100%
    }
    to {
        margin-right: 40px;
    }
}

.sub-tittle{
    font-size: 60px;
    font-weight: 600;
    color: #fafafa;
}

.about-col-2 p {
    font-size: 20px;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #be2c5b;
    font-size: 14px;
}

.tab-contents {
    display: none;
}
.tab-contents.active-tab {
    display: block;
}

/* ------------- HEADQUARTERS -------------- */
.headquarters {
        min-width: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #1a1a1a;
        text-align: center;
        padding: 90px;
        border-bottom: 2px solid #161515;
}

.headquarters h2 {
        padding-bottom: 25px;
        font-size: 40px;
        animation-duration: 2s;
        animation-name:  headh2;
}

@keyframes headh2 {
    from {
        margin-left: 150%;
    }
    to {
        margin-left: 0%;
    }
}

.headquarters-thumb {
    width: 350px;
    background-size: cover;
    background-position: center;
    margin-left: 20px;
}

.headquarters-overlay {
    font-size: 30px;
    text-align: center;
}

.headquarters .headquarters-thumb {
        display: inline-block;
        overflow: hidden;
        position: relative;
        margin-inline: 5px;
}

.headquarters .headquarters-thumb .headquarters-overlay {
        background: #6b5763;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        padding-top: 60px;
        transition: all 0.4s ease-in-out;
}

.headquarters .headquarters-thumb:hover .headquarters-overlay {
        cursor: pointer;
        opacity: 0.8;
        transform: scale(0.9);
}

/* ------------- CONTACT ME -------------- */

.section {
    margin: 20px;
    height: 500px;
}

.container-left {
    margin-top: 70px;
    margin-left: 70px;
}

.row h1 {
    font-size: 50px;
}

.row p {
    padding-top: 20px;
    font-size: 15px;
}

.row p i {
    color: #ff004f;
    font-size: 20px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    text-decoration: none;
    color: #fafafa;
    font-size: 40px;
    padding-right: 15px;
    display: inline-block;
    transition: transform 1s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.container-right {
    margin-top: 50px;
    margin-right: 50px;
}

.container-right button {
    font-size: 15px;
    min-width: 100px;
    color: white;
    height: 30px;
    border-radius: 3px;
    background-color: #ff004f;
    border-style: none;
    cursor: pointer;
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background-color: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

/* ------------- FOOTER -------------- */

.footer {
    width: 100%;
    background-color: #262626;
    text-align: center;
    padding: 25px;
    font-weight: 300;
    margin-top: 20px;
}

/* ------------- RESPONSIVE MOBILE -------------- */

@media (max-width: 992px) {
    .header {
        padding: 1.10rem 4%;
        position: fixed;
    }
}

@media (max-width: 768px) {
    /* --------------------- NAVBAR --------------------- */

    .container-navbar {
        height: 100vh;
        width: 100vh;
        
    }

    #menu-icon {
        font-size: 60px;
        display: block;
        padding-right: 10px;
    }

    .navbar {
        position: fixed;
        top: 100%;
        left: 0;
        width: 100%;
        padding: .5rem 4%;
        display: none;
        transition: 0.4 ease;
    }

    .navbar.active {
        display: block;
        background: rgba(255, 255, 255, .1);
        backdrop-filter: blur(20px);
        border-bottom: 2px solid rgba(255, 255, 255, .2);
    }

    .navbar a {
        font-size: 35px;
        display: block;
        margin: 2.0rem 0;
    }

    .navbar-bg {
        position: fixed;
        top: 11.8%;
        left: 0;
        width: 100%;
        height: 295px;
        background: rgba(255, 255, 255, .1);
        border-bottom: 2px solid rgba(255, 255, 255, .2);
        backdrop-filter: blur(10px);
        z-index: 99;
        display: none;
    }

    .navbar-bg.active {
        display: block;
    }

    .img-logo {
        width: 100px;
    }

    .h1-navbar {
        font-size: 20px;
        margin-top: 35px;
        padding-right: 100px;
        padding-left: 20px;
    }

    /* --------------------- ABOUT --------------------- */

    .sub-tittle {
        font-size: 40px;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1{
        padding-left: 50px;
    }

    .about-col-2 {
        margin-left: 30px;
        padding-top: 10px;
        font-size: 30px;
        font-weight: 500;
        padding-right: 50px;
    }

    .about-col-2 p {
        font-size: 35px;
    }

    .tab-links {
        text-align: center;
        font-size: 30px;
        margin-left: 30px;
    }

    .tab-contents ul li span{
        font-size: 25px;
    }

    /* --------------------- HEADQUARTERS --------------------- */

    .headquarters {
        min-width: 100vh;
        display: flex;
        padding: 50px;
    }

    .container-headquarters {
        margin-top: 110px;
    }

    .headquarters-thumb {
        margin-left: 50px;
        width: 250px;
        margin-inline: 20px;
    }

    .headquarters-thumb img {
        width: 500px;
    }

    .headquarters .headquarters-thumb .headquarters-overlay {
        font-size: 30px;
    }

    /*  */

    .contact {
        flex-basis: 100%;
    }

    .container-left {
        display: flex;
        margin-bottom: 60px;
        margin-right: -200px;
    }

    .container-left address {
        height: 100px;
    }

    .container-left h1 {
        font-size: 60px;
        height: 100px;
        font-weight: 600;
    }

    .container-left p {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .container-left p i {
        font-size: 30px;
    }

    .social-icons a i {
        font-size: 50px;
    }

    .container-right form {
        flex-basis: 100%;
        margin-top: 250px;
        width: 680px;
    }

    .footer {
        min-width: 100vh;
        font-size: 28px;
        margin-top: 450px;
    }
}
