.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
    border-bottom: 1px solid darkslategray;
}

.nav-logo img {
    max-height: 60px;
}

.nav {
    display: flex;
}

.nav-item {
    padding: 2px 1em;
    border: 0.5px solid black;
    min-width: 50px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.nav-item:hover {
    background: black;
    color: white;
}

.banner {
    border-bottom: 1px solid black;
    background-image: url('../assets/img/1.jpg');
    background-size: cover;
    height: 500px;
}

.greetings {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2em;
    padding-left: 5em;
}

.container {
    border-bottom: 1px solid darkslategray;
}

.headquarters {
    padding: 5em;
}

.hq-items {
    padding: 2em 5em;
    display: flex;
    justify-content: space-around;
}

.circle {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    border-radius: 50%;
}

.h1-circle {
    text-align: center;
    padding: 134px;
    margin-left: -107px;
}

.form {
    padding: 5px;
}

.form-submit {
    width: 70px;
}

.submit {
    width: 420px;
}

.footer-text {
    color: gray;
    font-size: small;

}

.form-right {
    text-align: left;
    margin-left: 800px;
    margin-top: -212px;
    border: 100px black;
}